<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title th:text="${title}">SCANNER - Standard Chartered ANalyser for Exceptions and Risks</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/patternfly/3.23.2/css/patternfly.min.css"
          th:href="@{/patternfly/3.23.2/css/patternfly.min.css}" media="screen, print"/>
    <link rel="stylesheet" href="../static/patternfly/3.23.2/css/patternfly-additions.min.css"
          th:href="@{/patternfly/3.23.2/css/patternfly-additions.min.css}" media="screen, print"/>
</head>